.container {
  padding: 10px;
  background:
    linear-gradient(#fafafa, #fafafa) padding-box,
    linear-gradient(to top right, tomato, violet) border-box;
  border: 2px solid transparent;
  border-radius: 15px;
  width: 70vw;
  display: flex;
  flex-direction: row;
}

.textContainer{
  display: flex;
  flex-direction: column;
  width: 90%;
}

h1{
  font-size: 24px;
  background: linear-gradient(to top right, tomato, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttonContainer{
  position: relative;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer button{
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(to top right, tomato, violet);
  color: white;
  cursor: pointer;

}
