.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}


.alert-card {
  padding: 20px;
  width: 80vw;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 18px;

  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to top right, tomato, violet) border-box;
  border: 2px solid transparent;

}

.alert-card h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.1;
  background: linear-gradient(to top right, tomato, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.alert-card input {
  padding: 12px;
  font-size: 16px;
  border-radius: 12px;
  border: 2px solid transparent;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, tomato, violet) border-box;
}


.alert-card button {
  padding: 12px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: linear-gradient(45deg, tomato, violet);
  color: white;
}

.alert-card button:hover {
  transform: scale(1.03);
}
