.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.content.center {
  justify-content: center;
}

h1{
  line-height: 1.2;
  font-size: 32px;
  background: linear-gradient(to top right, tomato, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto', sans-serif;
}

 input {
   width: 80%;
   padding: 10px;
   font-size: 16px;
   border: 2px solid #000;
   border-radius: 15px;
 }

 .list {
   display: none;
 }

 .list.show {
   display: flex;
   flex-direction: column;
   gap: 10px;
   flex: 1;
   margin-top: 20px;
 }

 .alert{
   display: none;
 }

 .alert.show{
   display: flex;
 }
